
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body { font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  min-height: 100vh; 
  background-image: url('https://images.hdqwalls.com/download/aurora-northern-lights-4k-hh-1600x900.jpg');
  background-size: cover; 
  background-position: center; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
